@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

.room-box {
  background-color: #dfdef0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh;
  font-family: "Lato", sans-serif;
  margin: 50px;
  border-radius: 10px;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.room-container {
  perspective: 1000px;
  margin-bottom: 30px;
  position: relat;
}

.room-kotak{
  width: 150px;
  height: 150px;
  background-color: #dfdef0;
  position: relative;
  margin-right: 30px;
  text-align: center;
  border: 1px solid#000000;
  border-radius: 10px;  

}
.room {
  background-color: #909097;
  height: 50px;
  width: 50px;
  margin: 20px;
  font-size: 15px;
  text-align: center;
  padding: 12px;
  border-radius: 10px;  
  position: absolute;
}
.room:nth-child(1){
  top:0;
  left:0;
}
.room:nth-child(2){
  top:0;
  right:0;
}
.room:nth-child(3){
  bottom:0;
  left:0;
}
.room:nth-child(4){
  bottom:0;
  right:0;
}

.room.selected {
  background-color: rgb(19, 156, 219);
}

.room.sold {
  background-color: #000000;
  
}

.room:nth-of-type(2) {
  margin-right: 18px;
}

.room:nth-last-of-type(2) {
  margin-left: 18px;
}

.room:not(.sold):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .room:not(.sold):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.showcase li small {
  margin-left: 2px;
}

.room-group{
  width: auto;
  height: auto;
  margin: auto;
}
.room-row {
  display: flex;
  margin: 20px;
}

.screen {
  background-color: #fff;
  height: 120px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-48deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text{
    margin: 5px 0;
}

p.text span{
    color: rgb(158, 248, 158);
}
.note {
  background-color: #909097;
  height: 50px;
  width: 50px;
  margin: 20px;
  font-size: 15px;
  text-align: center;
  padding: 12px;
  border-radius: 10px;  
}
.note.selected {
  background-color: rgb(19, 156, 219);
}

.note.booked {
  background-color: #000000;
  
}